
* {
    font-family: 'Roboto';
}
.result-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    height: 150px;
    margin-bottom: 40px;
}
.result{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 1px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
}
.but{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
#rock, #paper, #scissors {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin:5px;
    padding: 10px 15px;
    font-weight: 500;
}
.points{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    align-items: center;
}
#myPoint{
    margin-right: 30px;
}
body{
    background-color: rgb(218, 239, 78);}