body {
    background: linear-gradient(to right, rgb(231, 245, 138), rgb(217, 240, 71));
}
html {
    font-family: Roboto;
}
.result-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    height: 150px;
    margin-bottom: 40px;
}
.result{
    margin-top: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.but{
    display: flex;
    margin: 10px;
}
#rock, #paper, #scissors {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin:5px;
    padding: 10px 15px;
    font-weight: bold;
    height:70px;
    background-color: rgb(31, 31, 31);
    cursor: pointer;
}
#paper {
    margin-right: 20px;
    margin-left: 20px;
}
#rock:hover, #paper:hover, #scissors:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
#rock:active, #paper:active, #scissors:active {
    opacity: 0.8;
}
.points{
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#myPoint, #computerPoint{
    margin-right: 30px;
}
.display{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 5px 2px rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 350px;
    margin-right: ;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
}
.display span{
    position: absolute;
    top: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.move{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
}
.your-move, .computer-move{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 10px;
}
.your-move{
    left: 60px;
}
.computer-move{
    right: 60px;
}
#my-move-img, #com-move-img{
    height: 80px;
    margin: 5px;
    margin-bottom: 20px;
}
.reset button {
    font-family: Roboto;
    margin-top: 60px;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-style: sold;
    color: black;
}
.your-move, .computer-move {
    display: flex;
    flex-direction: column;
}